<div class="ui register">
	<div class="ui text container">
		<form autocomplete="off" name="register_form" id="register_form" class="ui form" (ngSubmit)="send(register_form)"
		 #register_form="ngForm">

			<div class="field">
				<h4 class="ui dividing header">Dados do cartão</h4>
				<div class="fields">
					<div class="six wide field">
						<input autocomplete="false" type="text" name="number" mask="9999999999999999" id="number" #email [(ngModel)]="model.number" required class="required"
						 placeholder="Número">
					</div>
					<div class="six wide field">
						<input autocomplete="false" type="text" name="holder_name" id="holder_name" #email [(ngModel)]="model.holder_name" required class="required"
						 placeholder="Nome do Titular">
					</div>
					<div class="six wide field">
						<input autocomplete="false" type="text" name="cvv" mask="999" id="cvv" #email [(ngModel)]="model.cvv" required class="required"
						 placeholder="CVV">
					</div>
				</div>

				<button class="ui green button" type="submit" id="submit">Salvar</button>
				<div class="ui error message" *ngIf="this.error != null">{{ this.error }}</div>
				<div class="ui success message" *ngIf="this.success != null">{{ this.success }}</div>
			</div>

		</form>
	</div>
</div>

<div class="ui home">
	<div class="ui container">
		<div class="ui stackable four columns grid">
			<div class="column" *ngFor="let item of this.cards">
				<div class="ui link cards">
					<div class="card">
						<div class="image">
							<img src="assets/images/card.jpg" alt="Credit Card">
						</div>
						<div class="content">
							<div class="header">{{ item.holder_name }}</div>
							<div class="description">
								<p>Number: {{ item.number }}</p>
								<p>CVV: {{ item.cvv }}</p>
							</div>
						</div>
						<div class="extra content">
							<div class="left floated">
								<button class="ui blue button" (click)="getCard(item.id)">Editar</button>
							</div>
							<div class="right floated">
								<button class="ui red button" (click)="modalRemove(item.id)">Remover</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ui basic modal">
	<div class="ui icon header">
		<i class="remove icon"></i>
		Remover cartão
	</div>
	<div class="content">
		<p>Você tem certeza que deseja remover este cartão?</p>
	</div>
	<div class="actions">
		<button class="ui red basic cancel inverted button">
			<i class="remove icon"></i>
			Não
		</button>
		<button class="ui green ok inverted button" (click)="removeCard(remove_id)">
			<i class="checkmark icon"></i>
			Sim
		</button>
	</div>
</div>